/* Untuk Tablets */

/* Tambahkan breakpoint max-width: 1000px */
@media (min-width:1000px)
{.menu-icon {display:none}

@media (max-width:1000px) 

{.lesson{width:50%;margin-bottom:50px;}
  /* Tambahkan CSS untuk lesson */
  
   /* Tambahkan CSS untuk tag <h1> didalam top-wrapper */
  .top-wrapper h1{font-size:32px;}

  /* Tambahkan CSS untuk tag <h2> didalam heading */
  .heading h2{font-size:20px;}
}

/* Untuk Smartphones */

/* Tambahkan breakpoint max-width: 670px */
@media (max-width:670px) {
  /* Ubah width milik lesson ke 100% */
  .lesson{width:100%}
  header {width:50%}
  .header-kiri {float:left;}
  .header-kiri ul a p{font-size:8px;padding:0 0;color:black;}
  /* Ubah text-align property milik <footer> */
  footer{text-align:center;}
   /* Tambahkan CSS untuk tag <h1> didalam top-wrapper */
  .top-wrapper h1{font-size:24px;line-height:36px; color:black;}
  .title-top h2{color:black;}
  /* Tambahkan CSS untuk tag <p> didalam top-wrapper */
  .top-wrapper p{font-size:14px;line-height:20px;}
   .header-kanan {display:none;}
  
  /* Tambahkan CSS untuk menu-icon */
  .menu-icon {display:block;}
}
